<h4 style="margin-top: 1%; text-align: center;">Add & Update the Products</h4>
<div class="container w-25" style="margin-top: 1%;">
  <button style="margin-left: 5%; font-size: 0.75rem; margin-top: 2%;" routerLink="/AddProduct" [routerLinkActiveOptions]="{exact:true}" 
routerLinkActive="active"  class="btn btn-primary">Add Products</button>
<button style="margin-left: 5%; margin-top: 2%; font-size: 0.75rem;" routerLink="/Admin/UpdateProduct" [routerLinkActiveOptions]="{exact:true}" 
routerLinkActive="active"  class="btn btn-primary">Update Products</button>
</div>