<div class="container" style=" margin-left: 25%; margin-top: 5%;">

<button style="margin-left: 5%; font-size: 0.75rem; margin-top: 2%;" routerLink="/Admin/addAdmin" [routerLinkActiveOptions]="{exact:true}" 
routerLinkActive="active"   class="btn btn-primary">Add Admin</button>

<button style="margin-left: 5%; font-size: 0.75rem; margin-top: 2%;" routerLink="/Product" [routerLinkActiveOptions]="{exact:true}" 
routerLinkActive="active"  class="btn btn-primary">Manage Products</button>

<button style="margin-left: 5%; font-size: 0.75rem; margin-top: 2%;" (click)="logout()" class="btn btn-primary">Log Out</button>

</div>

